@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body
{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'PT Sans Narrow', sans-serif;
}
.open
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}
.open .layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
	background: #000;
	z-index: 2;
}
.open .layer:nth-child(2)
{
	background: #03a9f4;
	animation-delay: 1s;
	z-index: 1;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}
section
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.bannerText
{	
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	max-width: 700px;
}
.bannerText h2,
.bannerText h3
{
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
	transform-origin: left;
	text-transform: uppercase;
}
.bannerText h2
{
	font-size: 4em;
}
.bannerText h3
{
	font-size: 1.5em;

}

.bannerText p
{

	font-weight: 400;
	font-size: 1.2em;

}
@keyframes fadeIn
{
	0%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}
@keyframes fadeInS
{
	0%
	{
		opacity: 0;
	}
	90%
	{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.bannerText a
{

	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 20px;
	background: #000;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 1px;
	animation: fadeIn 0.5s linear forwards;

}

.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	z-index: 10000;
}
.header .logo
{
	opacity: 0;
	margin: 0;
	padding: 0;
	font-size: 2em;
	text-transform: uppercase;
	animation: fadeInS 2.25s linear forwards;
}
.header ul
{
	margin: 0;
	padding: 0;
	z-index: 100;
	display: flex;
}
.header ul li
{
	list-style: none;
	margin: 0 10px;
	animation: fadeInS 2.25s linear forwards;
}
.header ul li:last-child
{
	margin-right: 0;
}
.header ul li a
{
	text-decoration: none;
	font-size: 1.2em;
	color: #000;
	padding: 5px 10px;
	letter-spacing: 2px;
}
.header ul li a.active,
.header ul li a:hover
{
	background: #000;
	color: #fff;
}
.element2
{
	opacity: 0;
	position: absolute;
	left: -10px;
	top: 40%;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
	animation: rotate 30s linear infinite, fadeIn 1s linear forwards;
	animation-delay: 1.25s; 
}
@keyframes rotate
{
	0%
	{
		transform: rotate(45deg);
	}
	100%
	{
		transform: rotate(405deg);
	}
} 
.full#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}

#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.30);
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.box 
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 380px;
	height: 420px;
	background: #a0a0a0;
	border-radius: 8px;
	overflow: hidden;
}
.box::before 
{
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#000,#000);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	transform: translate(-50%,-50%);
	z-index: 1;
	position: absolute;
	bottom: 50%;
	left: 50%;
	width: 380px;
	height: 420px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#000,#000);
	animation: reverse animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
.box form 
{
	display: flex;
	align-items: left;
	justify-content: center;
	position: absolute;
	inset: 2px;
	background: #e1e1e1;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
}
.box h2 
{
	color: #000;
	font-weight: 500;
	text-align: center;
	/* letter-spacing: 0.1em; */
}
/* .inputBox 
{
	position: relative;
	width: 300px;
	height: auto;
	margin-top: 35px;
} */
.inputBox input,
.inputBox textarea
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: 1px solid black;
	border-radius: 5px;
	color: #000;
	font-size: 1em;
	/* letter-spacing: 0.05em; */
	transition: 0.5s;
	/* z-index: 10; */
}

form button[type="submit"]
{
    color: #fff;
	outline: none;
	padding: 11px 25px;
	background: #000;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
form button[type="submit"]:active 
{
	opacity: 0.8;
}

#popup.active{
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}
.fa-times.x2,
.fa-bars.x2{
	font-size: 28px;
	cursor: pointer;
	display: none;
}

#cards{
	width: 100vw;
	height: auto;
	display: flex;
	justify-content: space-evenly;
}

.Add_container{
	font-size: xx-large;
	display: flex;
	align-items:center;
	justify-content: center;
	border-radius: 20px;
	text-align: center;
	width: 15vmax;
	height: 23vmax;
	background: linear-gradient(00deg, black, white);
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.50);
}
p a{
	text-decoration: none;
	color: #000;
}

#content_container{
	z-index: 1000;
}
#content_container{
	font-size: xx-large;
	display: flex;
	align-items:center;
	justify-content: center;
	border-radius: 20px;
	text-align: center;
	width: 15vmax;
	height: 23vmax;
	background: linear-gradient(00deg, black, white);
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.50);
}

@media (max-width: 1280px){
	section{
		height : auto !important;
		display: initial;
		padding: 100px;
		box-sizing: border-box;
	}
	.bannerText{
		position: relative;
		top: 0;
		left: 0;
		margin-top:100px;
		transform: translateY(0);
		max-width: 700px;
		z-index: 1001;
	}
}


@media (max-width: 991px){

	.bulb{
		display: none;
	}

	.fa-bars.x2{
		display: block;

	}
	.fa-times.x2{
		position: absolute;
		top:20px;
		right: 40px;
		display: block;

	}
	.bannerText h2{
		font-size: 3em;
	}
	.bannerText h3{
		font-size: 1.5em;

	}
	.element1{
		display: none;
	}
	.header ul{
		position: fixed;
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		z-index: 1010;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow-y: scroll;
	}
	.header ul.show{
		display: flex;
	}

	.header ul li {
		margin: 10px 0;
	}
}

@media (max-width: 991px){
	section{
		padding: 50px 80px 50px 50px;
	}
	.header{
		padding: 0 50px;
	}
}
